
main {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 218px;
}

.user-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


.user-data input {
    padding: 8px;
    border: 1px solid #ccc;
}


  .form button {
    background-color: #24aeda;
    border: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px;
    width: 200px;
  }

  