* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4fdff;
}

header {
  display: flex;
  align-items: center;
  background-color: #f4fdff;
  padding: 30px;
}

nav {
  width: 100%;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  position: relative;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 50px;
}

.detalhe-01 {
  position: absolute;
  height: 0.23em;
  width: 1.23em;
  background-color: #24aeda;
  border-radius: 3px;
  margin: 11px 75px;
}

.detalhe-02 {
  position: absolute;
  height: 0.23em;
  width: 1.23em;
  background-color: #24aeda;
  border-radius: 3px;
  margin: 11.5px -120px;
}

.logo {
  position: absolute;
}

.logo img {
  height: auto;
  width: 80px;
  left: 20px;
}

.background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.img-background img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajuste a largura máxima conforme necessário */
  margin: 0 auto;
}

.content h1 {
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  margin-right: 20px;
}

.content h1::after {
  content: ".";
  color: #24aeda;
  position: relative;
  left: 5px;
}

.form {
  display: flex;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.form input[type="email"] {
  border: none;
  padding: 10px;
  font-size: 1em;
}

.form button {
  background-color: #24aeda;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  background-color: rgb(46, 45, 43);
  text-align: center;
  color: white;
  font-size: large;
  height: 120px;
  bottom: 0;
  display: grid;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 30px;
}

a {
  color: #fff;
}

p.copyright {
  justify-content: center;
  margin-top: 50px;
}

.material-symbols-outlined.mail {
  color: #ecae2a;
  font-size: xx-large;
  position: relative;
  top: 6px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-icons {
  position: relative;
  top: 4px;
  right: 4px;
  left: 3px;
}
.material-icons.orange {
  color: #ecae2a;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
